body {
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-position: fixed;
    background-attachment: fixed;
    background-size: cover;
}

header {
    background-color: white;

}

footer {
    background-color: white;
}
